body {
  background-color: rgba(61, 16, 13, 0.404);
}

.rotate0 {
  position: relative;
  width: 7rem;
}

.rotate90 {
  position: relative;
  width: 7rem;
  transform: rotate(90deg);
}

.rotate180 {
  position: relative;
  width: 7rem;
  transform: rotate(180deg);
}

.rotate270 {
  position: relative;
  width: 7rem;
  transform: rotate(270deg);
}
